# Python cache and environment
__pycache__/
*.pyc
*.pyo
*.pyd
env/
venv/
chem-cleanser-env/
*.egg-info/
dist/
build/

# Jupyter notebooks checkpoints
.ipynb_checkpoints/

# Output files (data)
data/*.csv
data/*.tsv

# OS files
.DS_Store
Thumbs.db

# IDE/editor files
.vscode/
.idea/
*.swp
